@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

@font-face {
  font-family: "dotty";
  src: url(./dotty/dotty.ttf);
}
@mixin smallDevice {
  @media screen and (max-width: 900px) {
    @content;
  }
}
@mixin smallerDevice {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin smallestDevice {
  @media screen and (max-width: 350px) {
    @content;
  }
}

*::-webkit-scrollbar {
  display: none;
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem; /* width of the scrollbar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Helvetica, sans-serif;
  transition: 0.2s ease;
}

.formContainer {
  background-color: #0e0e17;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: rgb(189, 189, 189);
  .link {
    margin-inline: 0.2rem;
    text-decoration: none;
    color: white;
  }
  .formWrapper {
    background-color: #1a1a2a;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: calc(1rem + 20px);
    width: 400px;
    max-width: 90vw;
    max-height: 90vh;

    @include smallestDevice {
      min-height: 100vh;
      min-width: 100vw;
    }

    .logo {
      font-family: "dotty";
      color: blueviolet;
      font-weight: 800;
      font-size: 3rem;
    }
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      @include smallestDevice {
        gap: 0.5rem;
      }

      input {
        all: unset;
        width: 100%;
        padding: 1rem 0rem;
        @include smallestDevice {
          font-size: 0.9rem;
        }
        text-indent: 1rem;
        background-color: #0e0e17;
        border-radius: 20px;
        &:hover {
          background-color: #090910;
        }
        &:focus {
          border: 1px solid blueviolet;
        }
      }
      label {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
        color: #5d5d8d;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          filter: brightness(0.8);
        }
        img {
          height: 40px;
          width: 40px;
        }
      }
      input:fill {
        all: unset;
      }

      button {
        all: unset;
        width: 100%;
        background-color: blueviolet;
        color: white;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 5px 1rem rgba(110, 98, 187, 0.25);
        cursor: pointer;
        div {
          @include smallestDevice {
            font-size: 1.8rem;
          }
        }
        &:hover {
          background-color: rgb(116, 34, 192);
        }
      }
    }
    p {
      text-align: center;
      color: gray;
      font-size: 0.8rem;
    }
  }
}

.home {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid white;
    // border-radius: 0.4rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    overflow: hidden;

    @include smallerDevice {
      padding: 0;
    }

    .sidebar {
      flex: 1;
      // margin: 1rem;
      display: flex;
      background-color: #1a1a2a;
      border-radius: 1.5rem 20px 20px 1.5rem;
      overflow: hidden;

      @include smallerDevice {
        border-radius: 0;
      }

      &.hidden {
        display: none;
      }

      &.visible {
        margin: 0;

        display: flex;
        @include smallerDevice {
          border-radius: 0;
        }
      }

      .sidebarContainer {
        overflow: auto;
        width: 100%;
        margin: 1.5rem;
      }

      .navbar {
        margin: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 2rem);
        border-radius: 1.5rem;
        width: max-content;
        text-align: center;
        // max-height: 50px;
        background-color: blueviolet;
        color: #ddddf7;

        .linebreak {
          margin-block: 1rem;
          height: 2px;
          width: 70%;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
        }
        .sparkle {
          fill: rgba(255, 255, 255, 0.864);
          transition: all 400ms ease;
        }

        .ai-btn {
          background: linear-gradient(0deg, #a47cf3, #683fea);
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
            inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 180px 0px #9917ff;
          transform: translateY(-2px);
        }

        .ai-btn:hover .sparkle {
          fill: white;
          transform: scale(1.2);
        }

        .nav-items {
          flex: 1;
          width: 100%;
          gap: 1rem;
          display: flex;
          // padding-block: 1rem;
          justify-content: start;
          align-items: center;
          flex-direction: column;
        }

        .nav-items > * {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: none;
          padding: 0.5rem;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          font-size: 1.3rem;
          cursor: pointer;
          color: white;
        }

        .nav-items > *:hover {
          background-color: rgb(158, 67, 244);
        }

        .btn--log-out {
          font-family: dotty;
          border-radius: 20px;
          background-color: transparent;
          font-size: 1.5rem;
          color: #1e1a21;
          background-color: rgba(245, 245, 245);
          padding: 1rem;
          width: max-content;
          border: none;
          cursor: pointer;
          @include smallestDevice {
            padding: 0.8rem 1rem;
            font-size: 1.4rem;
          }
          cursor: pointer;
        }
        .user-name {
          font-size: 0.9rem;
          @include smallestDevice {
            font-size: 0.8rem;
          }
          width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .logo {
          font-family: "dotty";
          font-size: 2.2rem;
          font-weight: bold;
        }
        .user {
          display: flex;
          margin-top: 0.8rem;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          img {
            background-color: #ddddf7;
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 50%;
            outline-offset: 3px;
            object-fit: cover;
            &:hover {
              filter: brightness(0.7);
            }
          }
        }
      }
      .search {
        .modal {
          img {
            height: 120px;
            width: 120px;
          }
        }

        border-bottom: 1px solid #5d5d8d9c;
        max-height: 350px;
        overflow: auto;
        .userChat {
          width: 100%;
          min-width: max-content;
        }
        .searchForm {
          display: flex;
          gap: 1rem;
          justify-content: center;
          align-items: center;
          padding: 0.2rem 0.5rem;
          margin-bottom: 1rem;
          .search-icon {
            filter: invert(1);
            height: 15px;
            cursor: pointer;
          }
          input {
            border-radius: 22px;
            text-indent: 0.5rem;
            background-color: #0e0e17;
            width: 100%;
            padding: 10px;
            border: none;
            color: white;
            // background-color: transparent;
            outline: none;
          }
        }
      }
      .userChat {
        display: flex;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
        width: 100%;
        // min-width: max-content;
        // overflow-x: scroll;
        // background-color: #2f2d52;
        margin-block: 0.5rem;
        border-radius: 20px;
        color: lightgray;
        border-bottom: 1px solid rgba(71, 61, 139, 0.522);
        box-shadow: inset 0 -5px 3rem rgba(71, 61, 139, 0.322);
        background: rgba(0, 0, 0, 0.686);

        cursor: pointer;
        &:hover {
          background: black;
        }
        img {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          &:hover {
            opacity: 0.7;
          }
          @include smallestDevice {
            width: 30px;
            height: 30px;
          }
        }

        .userChatInfo {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          span {
            font-size: 0.9rem;
            @include smallestDevice {
              font-size: 0.8em;
            }
            font-weight: 500;
          }
          p {
            margin-top: 0.3rem;
            font-size: 0.7rem;
            color: #5d5d8d;
          }
        }
        .add-friend {
          font-size: 0.7rem;
          height: 35px;
          width: 35px;
          padding: 0.5rem 0.7rem;
          box-shadow: 0 3px 1rem rgba(110, 98, 187, 0.427);
          border-radius: 50%;
          background: linear-gradient(0deg, #a47cf3, #7942e8);
          // border-bottom: 1px solid rgba(71, 61, 139, 0.822);

          &:hover {
            background-color: rgb(147, 136, 215);
            // color: rgb(110, 98, 187);
          }
        }
      }
    }
    .chat {
      position: relative;
      flex: 1.5;

      display: flex;
      flex-direction: column;

      &.hidden {
        display: none !important;
      }

      &.visible {
        @include smallerDevice {
          margin: 0;
        }
        display: flex !important;
      }

      .chatInfo {
        position: relative;
        flex-shrink: 0;
        padding: 1rem 3rem;
        display: flex;
        // flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: start;
        border-radius: 20px;
        background-color: #1a1a2a;
        color: lightgray;

        @include smallerDevice {
          margin: 1rem;
        }

        .btn--back {
          padding: 0.5rem;
          display: none;
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translate(0, -50%);
          color: #5d5d8d;
          font-weight: 300;
          font-size: 1rem;
          cursor: pointer;

          @include smallDevice {
            display: unset;
          }
        }
        span {
          // font-family: "dotty";
          font-size: 1rem;
          @include smallestDevice {
            font-size: 1.7rem;
          }
        }

        img {
          object-fit: cover;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .messages {
        position: relative;
        flex: 1;
        background-color: black;
        padding: 2rem 0;
        min-height: max-content;
        border-radius: 0.4rem;
        margin: 0.5rem;
        overflow: scroll;

        @include smallerDevice {
          padding-inline: 1rem;
        }

        .message {
          flex-direction: column;
          justify-content: flex-end;
          display: flex;

          &:first-of-type p {
            border-radius: 20px 20px 20px 5px !important;
          }
          &:last-of-type p {
            border-radius: 5px 20px 20px 20px !important;
          }

          // &:not(:first-of-type) span {
          //   display: none !important;
          // }

          span {
            font-size: 0.7rem;
            color: gray;
            margin-block: 5px;
          }
          .messageContent {
            width: 400px;
            max-width: 80%;
            margin-block: 0.3rem;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            p {
              background-color: white;
              color: blueviolet;
              max-width: max-content;
              padding: 0.5rem 1rem;
              border-radius: 5px 20px 20px 5px;
              @include smallestDevice {
                font-size: 0.75rem;
              }
            }

            img {
              border-radius: 0.4rem;
              width: 50%;
            }
          }

          &.owner {
            align-items: flex-end;
            .messageContent {
              align-items: flex-end;
            }
            &:first-of-type p {
              border-radius: 20px 20px 5px 20px !important;
            }
            p {
              background-color: blueviolet;
              color: white;
              border-radius: 20px 5px 5px 20px;
            }

            &:last-of-type p {
              border-radius: 20px 5px 20px 20px !important;
            }
          }
        }
      }
      .writing-tools {
        position: absolute;
        bottom: calc(40px);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: transparent;
        pointer-events: none;
      }
      .writing-tools--buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      .generate-btn {
        pointer-events: auto;
        height: 50px;
        padding-inline: 1rem;
        border: none;
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background: #262226;
        cursor: pointer;
        transition: all 450ms ease-in-out;
        z-index: 99;
        // margin-top: -0.5rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.642);
      }

      .close-btn {
        // position: absolute;
        // right: 1rem;
        // top: 1rem;
        pointer-events: auto;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(185, 0, 0);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.642);
        color: white;
        font-size: 1rem;
        z-index: 10;
        cursor: pointer;
      }
      .close-btn:hover {
        background-color: rgb(71, 0, 0);
      }
      .sparkle {
        fill: rgba(255, 255, 255, 0.88);
        transition: all 800ms ease;
      }

      .generate-btn > .text {
        font-weight: 600;
        color: #aaaaaa;
        font-size: 1rem;
      }

      .generate-btn:hover {
        background: linear-gradient(0deg, #a47cf3, #683fea);
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2),
          0px 0px 180px 0px #9917ff;
        transform: translateY(-2px);
      }

      .generate-btn:hover .text {
        color: white;
      }

      .generate-btn:hover .sparkle {
        fill: white;
        transform: scale(1.2);
      }
      .result {
        position: absolute;
        padding: 1rem;
        color: white;
        z-index: 100;
      }
      .writing-tools > .writingToolsContainer {
        position: relative;
        pointer-events: auto;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.72);
        // min-width: max-content;
        max-width: 90%;
        max-height: 500px;
        overflow: auto;
        width: 400px;
        padding: 1rem;
        border-radius: calc(22px + 1rem);
        background: linear-gradient(#1a1a2a, #000000) padding-box,
          linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
        border: 2px solid transparent;
        font-family: inherit;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        box-sizing: border-box;
        background-size: 200% 100%;
        animation: gradient 5s ease infinite;
        color: white;
        font-size: 0.8rem;
        font-weight: 600;
        z-index: 9;

        h2 {
          text-align: center;
          font-weight: 600;
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }
        .messageType,
        .contextRef {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.6rem;
        }
        .messageType > *,
        .contextRef > * {
          padding: 1.2rem 1rem;
          flex: 1;
          border-radius: 1rem;
          background-color: #1a1a2a;
          cursor: pointer;
        }

        .messageType > *:hover,
        .contextRef > *:hover {
          background-color: #212137;
        }

        .highlight {
          background-color: white !important;
          color: #1e1a21;
        }
        .linebreak {
          height: 2px;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
        }
        .input__container,
        .resultContainer {
          position: relative;
          background: rgba(255, 255, 255, 0.664);
          padding: 10px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          border-radius: 22px;
          transition: transform 400ms;
          transform-style: preserve-3d;
          perspective: 500px;
        }
        .resultContainer {
          padding: 1rem;
          flex-direction: column;
          color: black;
          font-size: 1rem;
        }
        .resultContainer--buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: unset;
          gap: 0.5rem;
          width: 100%;
        }
        .resultContainer--buttons > div {
          text-align: center;
          background-color: lightgray;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          flex: 1;
          cursor: pointer;
        }
        .resultContainer--buttons > div:hover {
          background-color: rgb(231, 231, 231);
        }
        .resultContainer--buttons > .delete {
          background-color: transparent;
          padding: 0;
          max-width: min-content;
        }
        .resultContainer--buttons > .delete:hover {
          background-color: transparent;
        }

        .shadow__input {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          z-index: -1;
          filter: blur(30px);
          border-radius: 20px;
          background-color: #999cff;
          background-image: radial-gradient(
              at 85% 51%,
              hsla(60, 60%, 61%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 74% 68%,
              hsla(235, 69%, 77%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 64% 79%,
              hsla(284, 72%, 73%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 75% 16%,
              hsla(283, 60%, 72%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 90% 65%,
              hsla(153, 70%, 64%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 91% 83%,
              hsla(283, 74%, 69%, 1) 0px,
              transparent 50%
            ),
            radial-gradient(
              at 72% 91%,
              hsla(213, 75%, 75%, 1) 0px,
              transparent 50%
            );
        }

        .input__button__shadow {
          cursor: pointer;
          border: none;
          background: none;
          transition: transform 400ms, background 400ms;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          padding: 5px;
        }

        .input__button__shadow:hover {
          background: rgba(255, 255, 255, 0.411);
        }

        .input__search {
          width: 100%;
          border-radius: 20px;
          outline: none;
          border: none;
          padding: 8px;
          position: relative;
        }
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }
      .input {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // overflow: hidden;
        border-radius: 50px;
        background-color: #1a1a2a;
        padding: 0.5rem;
        box-shadow: 0 0 6rem black, 0 0 10rem black;

        @include smallerDevice {
          margin: 1rem;
        }
        * {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          border: none;
        }
        .file-message {
          color: #bababa;
          font-size: 0.6rem;
          background-color: #0e0e17;
          border-radius: 0.4rem;
          width: 200;
          margin-inline: 0.5rem;
          padding: 0.5rem 1rem;
        }
        .send {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ai-btn {
          margin-inline: 0.5rem;
          border: none;
          gap: 12px;
          cursor: pointer;
          transition: all 250ms ease-in-out;
        }

        .sparkle {
          fill: rgba(255, 255, 255, 0.881);
          transition: all 400ms ease;
        }

        .ai-btn:hover {
          background: linear-gradient(0deg, #a47cf3, #7942e8);
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
            inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
            0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
          transform: translateY(-2px);
        }

        .ai-btn:hover .sparkle {
          fill: white;
          transform: scale(1.2);
        }
        input {
          background-color: inherit;
          border-radius: 0 0.4rem 0.4rem 0;
          width: 100%;
          outline: none;
          color: white;
          padding-inline: 1rem;
          font-size: 0.9rem;
        }
        img {
          padding: 0.35rem;
          filter: invert(0.7);
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
        button {
          background: linear-gradient(0deg, #a47cf3, #7942e8);
          box-shadow: 0 5px 1rem rgba(110, 98, 187, 0.427);
          color: white;
          padding: 0.7rem;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          cursor: pointer;
          &:hover {
            box-shadow: 0 5px 2rem rgba(110, 98, 187, 0.627);
          }
        }
      }
    }
  }
}

.user-profile {
  position: fixed;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);

  z-index: 9;
  @include smallerDevice {
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
  }
  .modal-buttons {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 0;
    background-color: blueviolet;
    color: white;
    min-width: 100px;
    flex: 1;
    border: none;
    font-weight: 600;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
    @include smallestDevice {
      font-size: 1.5rem;
    }
    &.modal--close {
      flex: 1;
      background-color: rgb(163, 0, 163);
      &:hover {
        background-color: darkmagenta;
      }
    }
    &:hover {
      background-color: rgb(118, 38, 193);
    }
  }
  .modal,
  .edit-profile-form {
    // border: 1px solid red;
    padding: 1rem 1rem;
    position: relative;
    display: flex;
    // padding: 1rem;
    // gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    // justify-content: space-between;
    background-color: #1a1a2a;

    border-radius: calc(22px + 1rem);

    min-height: 350px;
    height: max-content;
    max-height: 95vh;

    min-width: 290px;
    width: 380px;
    max-width: 90vw;
    overflow: hidden;
    @include smallestDevice {
      position: absolute;
      top: 0;
      border-radius: 0;
      min-height: 100vh;
      min-width: 100vw;
    }
    h4 {
      z-index: 10;
      margin: 0.3rem;
      @include smallestDevice {
        font-size: 0.9rem;
      }
    }
    .profile-info,
    .edit-profile-field {
      width: 100%;
      text-align: left;
      z-index: 10;
      padding: 0.5rem 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      span {
        @include smallestDevice() {
          font-size: 0.9em;
        }
      }
      input {
        all: unset;
        width: 100%;
        padding: 1rem 0rem;
        @include smallestDevice {
          font-size: 0.7rem;
        }
        text-indent: 1rem;
        background-color: #0e0e17;
        border-radius: 20px;
        &:hover {
          background-color: #090910;
        }
        &:focus {
          border: 1px solid blueviolet;
        }
      }
      .text-label {
        align-self: flex-start;
      }
      label {
        display: flex;
        // flex-direction: column;
        padding: 0.5rem;
        gap: 0.5rem;
        color: #5d5d8d;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include smallestDevice {
          font-size: 0.9rem;
        }
        &:hover {
          filter: brightness(0.8);
        }
      }
      .stats {
        font-style: italic;
        @include smallestDevice {
          font-size: 0.9rem;
        }
      }
      .largeText {
        font-size: 3rem;
        margin-right: 0.5rem;
        color: magenta;
        @include smallestDevice {
          font-size: 2.5rem;
        }
      }
      #profile--email {
        text-align: center;
        color: #5d5d8d;
      }
      img {
        margin: 1rem;
        background-color: white;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        outline: 1px solid #ddddf7a3;
        outline-offset: 3px;
        object-fit: cover;
        @include smallestDevice {
          margin: 0.3rem;
        }
      }
    }
  }
}

.loading-progress {
  border-radius: 0.4rem;
  background-color: white;
  height: 100%;
  animation: fill 2s linear 1;
  padding: 0.2rem;
  &.register {
    animation: fill 6s linear 1;
  }
}
.btn {
  font-family: "dotty";
  font-size: 2rem;
  background-color: transparent;
  height: 100%;
  padding: 1rem;
}
@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.chats h1 {
  margin: 1rem 0.5rem;
  letter-spacing: 1px;
  font-size: 3rem;
  color: #5d5d8d;
  font-family: "dotty";
}

.default-modal {
  background-color: #1a1a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  border-radius: 20px;
  .modal-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem;
  }
  .chat-icon {
    object-fit: cover;
    height: 100px;
    width: 100px;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    font-family: "dotty";
  }

  .btn--get-started {
    display: none;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.8rem;
    color: blueviolet;
    margin-block: 1rem;
    cursor: pointer;
    &:hover {
      background-color: blueviolet;
      color: white;
    }
    @include smallDevice {
      display: unset;
    }
  }
}

.fileMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  .fa-icon {
    color: lightgreen;
  }
}

@media screen and (max-width: 900px) {
  .chat {
    display: none !important;
  }
}
